canvas{
	background: rgba(0, 0, 0, 0); 
	display: block;
	margin: 10px auto; 
	margin-top: 70px;
}

#button-panel{
	text-align: center;
}

.button-panel-control{
	font-size: 12px;

	color: white;
	background-color: rgba(80, 80, 80, 0.6);
	border: none;
	border-radius: 2px;
	padding: 7px 12px;
	transition: 0.2s;
}

.button-panel-control:hover{
	background-color: rgba(100, 100, 100, 0.6);
	color: white;
}

.button-panel-control:active{
	background-color: rgba(130, 130, 130, 0.6);
	color: white;
}

.button-panel-control:focus{
	outline: 0;
}

#button-panel a{
	text-decoration: none;
	font-size: 12px;
}